<div class="container">
  <h1 class="fw-bold text-center" id="contactanos">Contáctanos</h1>

  <div class="container row g-5 justify-content-center mx-auto">

    <div class="col-12 col-md-4">
      <p class="h-25">Puedes contactarnos a través de nuestras redes sociales:</p>
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="https://www.instagram.com/aetheroniot/"><i
            class="fa-brands fa-instagram"></i> Instagram</a>
        <a class="list-group-item list-group-item-action" href="https://www.facebook.com/aetheroniot/"><i
            class="fa-brands fa-facebook"></i> Facebook</a>
        <a class="list-group-item list-group-item-action" href="https://wa.me/51942355392"><i
            class="fa-brands fa-whatsapp"></i> Whatsapp</a>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <p class="h-25">O mediante los siguientes medios:</p>
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="mailto:aetheroniot@gmail.com"><i
            class="fa-solid fa-envelope"></i> aetheroniot@gmail.com</li></a>
        <a class="list-group-item list-group-item-action" href="tel:+51942355392"><i class="fa-solid fa-phone"></i> +51
          942355392</li></a>
      </div>
    </div>
  </div>
</div>