<div class="container">
  <h1 class="fw-bold text-center" id="precios">Precios</h1>

  <!-- Precios Páginas Web -->

  <h2 class="fs-3 text-center p-3">Precios Paginas Web</h2>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Básico</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            450
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Diseño responsivo</li>
            <li>5 secciones</li>
            <li>Mapa de ubicación</li>
            <li>Formulario de contacto</li>
          </ul>
          <a
            href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Básico%20de%20Dise%C3%B1o%20Web.">
            <button type="button" class="w-100 btn btn-lg btn-primary">
              Cotizar
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary">
          <h4 class="my-0 fw-normal">Profesional</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            650
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Diseño responsivo</li>
            <li>10 secciones</li>
            <li>Mapa de ubicación</li>
            <li>Formulario de contacto</li>
          </ul>
          <a
            href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Profesional%20de%20Dise%C3%B1o%20Web.">
            <button type="button" class="w-100 btn btn-lg btn-primary">
              Cotizar
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Avanzado</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            850
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Diseño responsivo</li>
            <li>15 secciones</li>
            <li>Mapa de ubicación</li>
            <li>Formulario de contacto</li>
          </ul>
          <a
            href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Avanzado%20de%20Dise%C3%B1o%20Web.">
            <button type="button" class="w-100 btn btn-lg btn-primary">
              Cotizar
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Precios Web Apps -->

  <h2 class="fs-3 text-center p-3">Precios Web App</h2>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Básico</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            1050
          </h1>
          <small class="text-secondary">
            Para aplicaciones web con funcionalidad esencial. Ideal para
            emprendimientos, MVP o proyectos que necesitan una herramienta
            útil pero sin complejidad extra.
          </small>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Login / autenticación de usuarios</li>
            <li>Formularios y panel básico</li>
            <li>Interfaz simple, adaptada a móviles</li>
            <li>Conexión a base de datos sencilla</li>
          </ul>
          <a
            href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Básico%20de%20Web%20Apps.">
            <button type="button" class="w-100 btn btn-lg btn-primary">
              Cotizar
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Profesional</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            3000
          </h1>
          <small class="text-secondary">
            Este nivel está pensado para aplicaciones con más
            funcionalidades y mejores experiencias de uso. Abarca proyectos
            con panel de administración más robusto y elementos adicionales.
          </small>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Gestión de usuarios y roles</li>
            <li>Panel con reportes básicos</li>
            <li>Integración con servicios externos</li>
            <li>Sistema de notificaciones</li>
          </ul>
          <a
            href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Profesional%20de%20Web%20Apps.">
            <button type="button" class="w-100 btn btn-lg btn-primary">
              Cotizar
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>