<!-- Caracteristica 1-->
<div class="row featurette my-3 py-1">
  <div class="col-md-8 order-2">
    <h2 class="featurette-heading fw-bold lh-1 ">
      Desarrollo Profesional de Páginas Web
    </h2>
    <p>
      Creamos páginas web adaptadas a las necesidades específicas de cada
      cliente, considerando su identidad de marca, público objetivo y
      objetivos comerciales. No utilizamos soluciones genéricas; cada
      proyecto es diseñado estratégicamente para transmitir profesionalismo,
      generar confianza y maximizar la conversión de visitantes en clientes.
    </p>
    <a href="#precios" class="text-decoration-none">
      <button type="button" class="btn btn-lg btn-primary mb-2 mt-2 fs-6">
        Precios
      </button>
    </a>
    <a href="/paginas-web/#demos" class="text-decoration-none">
      <button type="button" class="btn btn-lg btn-secondary mb-2 mt-2 fs-6 ms-2">
        Demos
      </button>
    </a>
  </div>
  <div class="col-md-4 order-1">
    <img src="images/caracteristica-1.jpg" alt="" class="img-fluid mx-auto rounded-4 float-end mb-3 mb-md-0">
  </div>
</div>

<!-- Caracteristica 2-->
<div class="row featurette my-3 py-1">
  <div class="col-md-8 order-md-2 order-2">
    <h2 class="featurette-heading fw-bold lh-1 ">
      Diseño de PCB
    </h2>
    <p>
      Diseñamos placas de circuito impreso (PCB) adaptadas a los
      requerimientos específicos de cada proyecto electrónico,
      considerando criterios de funcionalidad, integridad de señal,
      distribución de potencia y facilidad de fabricación. Cada diseño se
      desarrolla de manera cuidadosa y técnica, optimizando el
      enrutamiento, la disposición de componentes y el desempeño
      eléctrico, con el objetivo de obtener circuitos confiables,
      eficientes y listos para su producción.
    </p>
    <a href="/pcb#precios.html" class="text-decoration-none">
      <button type="button" class="btn btn-lg btn-primary mb-2 mt-2 fs-6">
        Precios
      </button>
    </a>
    <a href="/pcb#calculo.html" class="text-decoration-none">
      <button type="button" class="btn btn-lg btn-secondary mb-2 mt-2 fs-6 ms-2">
        Calcular precio
      </button>
    </a>
  </div>
  <div class="col-md-4 order-1">
    <img src="images/caracteristica-3.jpg" alt="" class="img-fluid mx-auto rounded-4 float-end mb-3 mb-md-0">
  </div>
</div>

<!-- Caracteristica 3-->
<div class="row featurette my-3 py-1">
  <div class="col-md-8 order-md-3">
    <h2 class="featurette-heading fw-bold lh-1">
      Implementación de Sistemas de Automatización Empresarial
    </h2>
    <h5 class="mt-4">Ahorro de tiempo y mayor eficiencia</h5>
    <p>
      Implementamos sistemas que automatizan tareas repetitivas,
      permitiendo que su empresa trabaje de forma más rápida y organizada.
      Esto reduce errores y mejora la productividad diaria.
    </p>
    <h5 class="mt-4"> Mejor control de la información</h5>
    <p>
      Centralizamos los datos en un solo sistema para que pueda supervisar
      procesos, ventas o inventarios de manera clara y sencilla. Así podrá
      tomar decisiones con información actualizada y confiable.
    </p>
  </div>
  <div class="col-md-4">
    <img src="/images/caracteristica-2.jpg" alt="" class="img-fluid mx-auto rounded-4 float-end mt-3 mt-md-0">
  </div>
</div>
