  <!--FOOTER-->
<div class="row">
    
    <div class="col-12 col-md text-center text-md-start">
    <img class="mb-2" src="/images/logo-35x35.png" alt="Aetheron Logo" width="19" height="19">
    <span class="text-body-secondary">Aetheron</span>
    <small class="d-block mb-3 text-body-secondary">© 2026</small>
    </div>

    <div class="col-12 col-md text-center text-md-start">
    <h5>Redes sociales</h5>
    <ul class="list-unstyled text-small">
        <li class="mb-1">
        <a class="link-secondary text-decoration-none" href="https://www.instagram.com/aetheroniot/">
            <i class="fa-brands fa-instagram"></i> Instagram
        </a>
        </li>
        <li class="mb-1">
        <a class="link-secondary text-decoration-none" href="https://www.facebook.com/aetheroniot/">
            <i class="fa-brands fa-facebook"></i> Facebook
        </a>
        </li>
        <li class="mb-1">
        <a class="link-secondary text-decoration-none" href="https://wa.me/51942355392">
            <i class="fa-brands fa-whatsapp"></i> Whatsapp
        </a>
        </li>
    </ul>
    </div>

    <div class="col-12 col-md text-center text-md-start">
    <h5>Contáctanos</h5>
    <ul class="list-unstyled text-small">
        <li class="mb-1">
        <a class="link-secondary text-decoration-none" href="mailto:aetheroniot@gmail.com">
            <i class="fa-solid fa-envelope"></i> aetheroniot@gmail.com
        </a>
        </li>
        <li class="mb-1">
        <a class="link-secondary text-decoration-none" href="tel:+51942355392">
            <i class="fa-solid fa-phone"></i> +51 942355392
        </a>
        </li>
    </ul>
    </div>
</div>