$prefix: "bs-";
$navbar-padding-x: 1rem;
$navbar-padding-y: 0.5rem;

.navbar {
    --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)} !important;
    --#{$prefix}navbar-padding-y: #{$navbar-padding-y} !important;
}

.hero-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}