{{ define "main" }}
  <!-- SERVICIOS -->
  {{ partial "home/descripcion.html" . }}

  <h1 class="fw-bold text-center" id="servicios">Servicios</h1>
  {{ partial "home/servicios.html" . }}

  <div class="container py-3">
    <!-- PRECIOS PAGINA WEB -->
    <h1 class="fw-bold text-center" id="precios">Precios</h1>

    <h2 class="fs-3 text-center p-3">Precios Paginas Web</h2>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Básico</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                S/.450
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Diseño responsivo</li>
                <li>5 secciones</li>
                <li>Mapa de ubicación</li>
                <li>Formulario de contacto</li>
              </ul>
              <a href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Básico%20de%20Dise%C3%B1o%20Web.">
              <button type="button" class="w-100 btn btn-lg btn-primary">
                Cotizar
              </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary">
              <h4 class="my-0 fw-normal">Profesional</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                S/.650
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Diseño responsivo</li>
                <li>10 secciones</li>
                <li>Mapa de ubicación</li>
                <li>Formulario de contacto</li>
              </ul>
              <a href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Profesional%20de%20Dise%C3%B1o%20Web.">
              <button type="button" class="w-100 btn btn-lg btn-primary">
                Cotizar
              </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Avanzado</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                S/.850
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Diseño responsivo</li>
                <li>15 secciones</li>
                <li>Mapa de ubicación</li>
                <li>Formulario de contacto</li>
              </ul>
              <a href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Avanzado%20de%20Dise%C3%B1o%20Web.">
              <button type="button" class="w-100 btn btn-lg btn-primary">
                Cotizar
              </button>
              </a>
            </div>
          </div>
        </div>
      </div>

    <h2 class="fs-3 text-center p-3">Precios Web App</h2>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Básico</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                S/.1050
              </h1>
              <small class="text-secondary">
              Para aplicaciones web con funcionalidad esencial. Ideal para
              emprendimientos, MVP o proyectos que necesitan una herramienta
              útil pero sin complejidad extra.
              </small>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Login / autenticación de usuarios</li>
                <li>Formularios y panel básico</li>
                <li>Interfaz simple, adaptada a móviles</li>
                <li>Conexión a base de datos sencilla</li>
              </ul>
              <a href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Básico%20de%20Web%20Apps.">
              <button type="button" class="w-100 btn btn-lg btn-primary">
                Cotizar
              </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Profesional</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                S/.3000
              </h1>
              <small class="text-secondary">
              Este nivel está pensado para aplicaciones con más
              funcionalidades y mejores experiencias de uso. Abarca proyectos
              con panel de administración más robusto y elementos adicionales.
              </small>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Gestión de usuarios y roles</li>
                <li>Panel con reportes básicos</li>
                <li>Integración con servicios externos</li>
                <li>Sistema de notificaciones</li>
              </ul>
              <a href="https://wa.me/51942355392?text=Hola,%0AEstoy%20interesado%20en%20cotizar%20el%20paquete%20Profesional%20de%20Web%20Apps.">
              <button type="button" class="w-100 btn btn-lg btn-primary">
                Cotizar
              </button>
              </a>
            </div>
          </div>
        </div>
      </div>

    <!--Contactanos-->
    <h1 class="fw-bold text-center" id="contactanos">Contáctanos</h1>

    <div class="container row g-5 justify-content-center mx-auto">

      <div class="col-12 col-md-4">
        <p class="h-25">Puedes contactarnos a través de nuestras redes sociales:</p>
        <div class="list-group">
          <a class="list-group-item list-group-item-action" href="https://www.instagram.com/aetheroniot/"><i class="fa-brands fa-instagram"></i> Instagram</a>
          <a class="list-group-item list-group-item-action" href="https://www.facebook.com/aetheroniot/"><i class="fa-brands fa-facebook"></i> Facebook</a>
          <a class="list-group-item list-group-item-action" href="https://wa.me/51942355392"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <p class="h-25">O mediante los siguientes medios:</p>
        <div class="list-group">
          <a class="list-group-item list-group-item-action" href="mailto:aetheroniot@gmail.com"><i class="fa-solid fa-envelope"></i> aetheroniot@gmail.com</li></a>
          <a class="list-group-item list-group-item-action" href="tel:+51942355392"><i class="fa-solid fa-phone"></i> +51 942355392</li></a>
        </div>
      </div>
    </div>
  </div>

{{ end }}
