{{ $bgImage := .Params.hero_image }}

<div class="position-relative overflow-hidden py-3 p-md-1 mb-3 mb-md-5 text-center hero-bg"
     style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{ $bgImage }}');">
  
  <div class="col-md-6 p-lg-5 mx-auto my-5 position-relative z-1">
    <h1 class="display-3 fw-bold text-white">{{ .Title }}</h1>
    <h3 class="fw-normal text-white-50 mb-3">
      {{ .Params.descripcion_general }}
    </h3>
    <div class="d-flex gap-3 justify-content-center lead fw-normal">
      <a class="btn btn-outline-light" href="#calculadora"> Calculadora de PCBs </a> 
    </div>
  </div>
  
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>